@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.mainPage{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  height: 900px;
  background-color: rgb(255,125,0);
}

#logo{
  justify-self: start;
  align-self: flex-start;
  margin: 0 !important;
  padding-left: 3rem;
  font-size: 3rem;
}

.top{
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  position: absolute;
  top: 30%;
  left: 45%;

}

.mainPage h2{
  color: white;
  font-family: 'yg-jalnan';
  font-size: 4rem;
  margin-bottom: 10px !important;
}